.container_culture {
  height: 100vh;
  width: 100vw;
  min-width: 1200px;
  min-height: 800px;
  background-image: url('images/background_img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}
